{% extends "crud/base.html" %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1><br><br>
    <form method="post" action="{% url 'update_student' student.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                {% if student.studentprofile.profile_picture %}
                    <img src="{{ student.studentprofile.profile_picture.url }}" style="height: 300px">
                {% else %}
                    <img src="{% static 'crud/default.png' %}" style="height: 300px">
                {% endif %}<br><br>
                <input type="file" class="form-control" name="pp">
            </div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ student.name }}">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ student.email }}">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Age</label>
                    <input type="number" class="form-control" id="inputAddress" name="age" value="{{ student.age }}">
                </div>
                <div class="col-6">
                    <label for="inputAddress2" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress2" name="address" value="{{ student.studentprofile.address }}">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Contact</label>
                    <input type="text" class="form-control" id="inputCity" name="contact" value="{{ student.studentprofile.contact }}">
                </div><br>
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'crud_student' %}" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}